textarea { width: 100%;
		font-family: inherit;
   		font-size: inherit;
   	}
#words li {
	margin: 5px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}